# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
output/
*.spec
*.egg-info/

# Virtual environments
venv/
.venv/

# IDE
.idea/
.vscode/
*.swp
*.swo
